[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
[submodule ".config/alacritty/zinit"]
	path = .config/alacritty/zinit
	url = git@github.com:zdharma-continuum/zinit.git
